<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle %></title>
    <link rel="stylesheet" href="../css/auth.css"
  </head>
  <body>

    <div class="container">
        <img src="./images/logo/logo.svg">
      <form action="login" method="post">
        <div class="head">
          <h3>Welcome to Anon Mart</h3>
          <p>Log in to continue</p>
        </div>
<!-- Add this code in your user view (e.g., login.ejs) -->
<% if (errorMessage) { %>
  <div class="error-message">
    <%= errorMessage%>
  </div>
<% } %>


        <div class="form_content">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="input">
            <label>Email</label>
            <input type="email" name="email"/>
          </div>
          <div class="input">
            <label>Password</label>
            <input type="password" name="password" />
          </div>
          <a href="/reset">Forgot password?</a>
          <button class="btn">Log in</button>
          <a href="/signup">
          <button class="btn btn2" type="button" id="submit">Sign Up</button>
          </a>
        </div>
      </form>
    </div>
    <script>
const submit = document.getElementById('submit');

submit.addEventListener('submit', ()=>{
  const email = document.getElementsByName('email').value;
  const password = document.getElementByName('password').value;
})
    </script>
  </body>
</html>
