<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle %></title>
    <link rel="stylesheet" href="../css/auth.css"
  </head>
  <body>

    <div class="container">
        <img src="./images/logo/logo.svg">
      <form action="reset" method="post">
        <div class="head">
          <h3>Welcome to Anon Mart</h3>
          <p>Reset Password</p>
        </div>
<!-- Add this code in your user view (e.g., login.ejs) -->
<% if (errorMessage) { %>
  <div class="error-message">
    <%= errorMessage%>
  </div>
<% } %>


        <div class="form_content">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="input">
            <label>Email</label>
            <input type="email" name="email"/>
          </div>
          <button class="btn">Reset Password</button>
        </div>
      </form>
    </div>

  </body>
</html>