<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <form action="/add-product", method="post">
<input type="text" name="title">
<button type="submit">Add Product</button>
</form>
    <%- include('includes/footer.ejs') %>
</body>
</html>