<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="overlay" data-overlay></div>

    <%- include('../includes/nav.ejs') %>
    <div class="product-container">

      <div class="container">
        <%- include('../includes/sidebar.ejs') %>
    <div class="product-main">

        <h2 class="title">Product details</h2>

        <div class="product-grid">
        
            
          <div class="showcase">
            <div class="showcase-banner">

              <h1>Cart</h1>
    
    </div>
    </div>
    </div>
    </div>
      </div>
    <%- include('../includes/footer.ejs') %>
</body>
</html>